<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная страница пользователя</title>
    <link rel="stylesheet" th:href="@{/stil.css}">
    <ul>
        <li><a href="/main">Главная страница</a></li>
        <li><a href="Users/ProductCatalog">Каталог товаров</a></li>
        <li><a href="Users/Order">Заказы</a></li>
        <li><a href="Warehouse/Product">Товары</a></li>
        <li><a href="Warehouse/ProviderCRUD">Поставщики</a></li>
        <li><a href="Warehouse/CategoryProduct">Категории товаров</a></li>
        <li><a href="Admin/Country">Страны</a></li>
        <li><a href="Admin/AllView">Просмотр данных</a></li>
        <li><a href="Admin/UserCRUD">Пользователи</a></li>
        <li><a href="Admin/Role">Роли</a></li>
        <li><a href="Admin/StatusOrder">Статусы заказов</a></li>
    </ul>
</head>
<body>
<form th:action="@{/logout}" method="post">
    <button type="submit" class="glow-button">Выйти</button>
</form>

</body>
</html>