<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Добавление поставщика</title>
    <link rel="stylesheet" th:href="@{/stil.css}">
</head>
<body>
<form method="post" th:action="@{/Warehouse}" th:object="${newProvider}">
    <table>
        <tr>
            <td> <label for="nameProvider">Название поставщика</label></td>
            <td> <input type="text" th:field="*{nameProvider}" id="nameProvider" name="nameProvider" /></td>
        </tr>
        <tr>
            <td> <label>Страна</label></td>
            <td>
                <select name="nameCountry">
                    <div th:each="element: ${country}">
                        <option th:text="${element.nameCountry}"></option>
                    </div>
                </select>
            </td>
        </tr>
    </table>
    <input type="submit" class="glow-button" value="Добавить"/>
    <div th:if="${#fields.hasErrors('nameProvider')}" th:errors="*{nameProvider}">f</div>
</form>
</body>
</html>