<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Каталог товаров</title>
    <link rel="stylesheet" th:href="@{/stil.css}">
    <ul>
        <li><a href="/main">Главная страница</a></li>
        <li><a href="Users/ProductCatalog">Каталог товаров</a></li>
        <li><a href="Users/Order">Заказы</a></li>
        <li><a href="Warehouse/Product">Товары</a></li>
        <li><a href="Warehouse/ProviderCRUD">Поставщики</a></li>
        <li><a href="Warehouse/CategoryProduct">Категории товаров</a></li>
        <li><a href="Admin/Country">Страны</a></li>
        <li><a href="Admin/AllView">Просмотр данных</a></li>
        <li><a href="Admin/UserCRUD">Пользователи</a></li>
        <li><a href="Admin/Role">Роли</a></li>
        <li><a href="Admin/StatusOrder">Статусы заказов</a></li>
    </ul>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>Название товара</th>
        <th>Стоимость товара</th>
        <th>Категория товара</th>
        <th>Поставщик</th>
        <th>Статус товара</th>
    </tr>
    </thead>
    <tbody>
    <div th:each="product: ${products}">

        <tr>
            <td th:text="${product.getNameProduct()}"></td>
            <td th:text="${product.getPriceProduct()}"></td>
            <td th:text="${product.categoryProduct.getNameCategoryProduct()}"></td>
            <td  th:text="${product.provider.getNameProvider()}"></td>
            <td  th:text="${product.statusProduct.getNameStatusProduct()}"></td>
        </tr>

    </div>
    </tbody>

</table>

</body>
</html>